// Place all the styles related to the api/lightsabers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Marketplace Map

.yellowsingle {
    background-image: image-url('yellowsingle.jpg');
}
.yellowdouble {
    background-image: image-url('yellowdouble.jpg');
}
.redsingle {
    background-image: image-url('redsingle.jpg');
}
.reddouble {
    background-image: image-url('reddouble.jpg');
}
.bluesingle {
    background-image: image-url('bluesingle.jpg');
}
.bluedouble {
    background-image: image-url('bluedouble.jpg');
}
.purplesingle {
    background-image: image-url('purplesingle.jpg');
}
.purpledouble{
    background-image: image-url('purpledouble.jpg');
}
.greensingle {
    background-image: image-url('greensingle.jpg');
}
.greendouble {
    background-image: image-url('greendouble.jpg');
}

.blue {
    color: rgb(0, 94, 255);
}
.green {
    color: rgb(0, 203, 0);
}
.yellow {
    color: rgb(249, 249, 0);
}
.red {
    color: rgb(255, 35, 35);
}
.purple {
    color: rgb(142, 0, 142);
}


// //////


#map-container {
    margin: auto;
    width: 90%;
    height: 650px;
    border: 1px solid black;
}

#marketplace-container {
    width: 98%;
    min-height: 500px;
    margin: auto;
}

.all-lightsabers-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
    max-width: 97%;
}

.lightsaber-item{
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    height: 300px;
    opacity: 0.80;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: 100% 100%;
    font-size: 8px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lightsaber-item:hover {
    opacity: 1.0;
}
.lightsaber-item-row {
    display: flex;
    justify-content: space-evenly;
}

.filters-bar {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.filters-bar select {
    font-size: 20px;
    min-width: 30%;
    text-align-last: center;
}

.add-to-cart-button {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: rgb(0, 121, 165);
}
.add-to-cart-button:hover {
    background-color: rgb(230, 91, 91);
}

.inventory-lightsaber-button {
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: rgb(24, 74, 150);
}
.inventory-lightsaber-button:hover {
    background-color: rgb(230, 91, 91);
}
.userInfoBar {
    padding: 20px;
    font-size: 40px;
}
.message {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgba(240, 240, 240, 0.988);
    margin: 10px;
}
.message h1 {
    font-size: 20px;
}
.message p {
    font-size: 20px;
}
.messageRead {
    color: rgb(87, 87, 87);
}
.messageUnread {
    color: rgb(255, 20, 20);
}
.message-date {
    color: rgb(26, 117, 252);
}
.toggle-read-button {
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(24, 74, 150);
}
.toggle-read-button:hover {
    background-color: rgb(255, 137, 137);
}

@media screen and (max-width: 800px) {
    .all-lightsabers-container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        max-width: 95%;
    }
    
    .lightsaber-item{
        width: 90%;
        height: 200px;
    }
}
@media screen and (max-width: 560px) {
    .all-lightsabers-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .lightsaber-item{
        width: 95%;
        height: 200px;
    }
}

.your-listing {
    color: rgb(255, 66, 66);
    font-weight: bold;
}

.lightsaber-listed-date {
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    background-color: rgba(245, 245, 245, 0.92);
    color: black;
}