// Place all the styles related to the api/lightsabers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Marketplace Map

.yellowsingle {
    background-image: image-url('yellowsingle.jpg');
}
.yellowdouble {
    background-image: image-url('yellowdouble.jpg');
}
.redsingle {
    background-image: image-url('redsingle.jpg');
}
.reddouble {
    background-image: image-url('reddouble.jpg');
}
.bluesingle {
    background-image: image-url('bluesingle.jpg');
}
.bluedouble {
    background-image: image-url('bluedouble.jpg');
}
.purplesingle {
    background-image: image-url('purplesingle.jpg');
}
.purpledouble{
    background-image: image-url('purpledouble.jpg');
}
.greensingle {
    background-image: image-url('greensingle.jpg');
}
.greendouble {
    background-image: image-url('greendouble.jpg');
}

.blue {
    color: rgb(0, 94, 255);
}
.green {
    color: rgb(0, 203, 0);
}
.yellow {
    color: rgb(249, 249, 0);
}
.red {
    color: rgb(255, 35, 35);
}
.purple {
    color: rgb(142, 0, 142);
}
.black {
    color: black
}


// //////


#map-container {
    margin: auto;
    width: 90%;
    height: 650px;
    border: 1px solid black;
}

#marketplace-container {
    width: 98%;
    min-height: 500px;
    margin: auto;
}

.all-lightsabers-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
    max-width: 97%;
}

.lightsaber-item{
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    height: 300px;
    opacity: 0.80;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: 100% 100%;
    font-size: 8px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lightsaber-item:hover {
    opacity: 1.0;
}
.lightsaber-item-row {
    display: flex;
    justify-content: space-evenly;
}

.filters-bar {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.filters-bar select {
    font-size: 20px;
    min-width: 30%;
    text-align-last: center;
}

.add-to-cart-button {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: rgb(0, 121, 165);
}
.add-to-cart-button:hover {
    background-color: rgb(230, 91, 91);
}

.inventory-lightsaber-button {
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: rgb(24, 74, 150);
}
.inventory-lightsaber-button:hover {
    background-color: rgb(230, 91, 91);
}
.userInfoBar {
    padding: 20px;
    font-size: 40px;
}
.message {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgba(240, 240, 240, 0.988);
    margin: 10px;
}
.message h1 {
    font-size: 20px;
}
.message p {
    font-size: 20px;
}
.messageRead {
    color: rgb(87, 87, 87);
}
.messageUnread {
    color: rgb(255, 20, 20);
}
.message-date {
    color: rgb(26, 117, 252);
}
.toggle-read-button {
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(24, 74, 150);
}
.toggle-read-button:hover {
    background-color: rgb(255, 137, 137);
}

@media screen and (max-width: 800px) {
    .all-lightsabers-container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        max-width: 95%;
    }
    
    .lightsaber-item{
        width: 90%;
        height: 200px;
    }
}
@media screen and (max-width: 560px) {
    .all-lightsabers-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .lightsaber-item{
        width: 95%;
        height: 200px;
    }
}

.your-listing {
    color: rgb(255, 66, 66);
    font-weight: bold;
}

.lightsaber-listed-date {
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    background-color: rgba(245, 245, 245, 0.92);
    color: black;
}




/////dropdown stuff

  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
    z-index:1;
  }
  
  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    color: black;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }



  //////star wars text

  body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  }
  
  .fade {
    position: relative;
    width: 100%;
    min-height: 30vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }