// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////breathing animation
.no-new-messages {
    color: rgb(230, 230, 230);
    font-size: 20px;
}

.loading-results {
  font-size: 20px;
  -webkit-animation: breathing 2.0s ease-out infinite normal;
  animation: breathing 2.0s ease-out infinite normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased; 
  }

.new-messages {
    font-size: 33px;
    -webkit-animation: breathing 3.0s ease-out infinite normal;
    animation: breathing 3.0s ease-out infinite normal;
    font-family: 'Gruppo';
    color: rgb(247, 30, 30);
    -webkit-font-smoothing: antialiased; 
    text-align: center;
    }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
////////