<!DOCTYPE html>
<html>
  <head>
    <title>Lightsaber Bay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 
  <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="devicon.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
  </head>

  <body>


    <%= yield %>
    
  </body>
</html>
